<h1>REST Example: Region Population</h1><br/>

<form method="POST" enctype="application/x-www-form-urlencoded" action="/wb_api_call">
	<span>Choose region:</span> 
	<select id="region" name="region">
	  <option value="1A">Arab World</option>
	  <option value="S3">Caribbean small states</option>
	  <option value="B8">Central Europe and the Baltics</option>
	  <option value="Z4">East Asia &amp; Pacific</option>
	  <option value="XC">Euro area</option>
	  <option value="Z7">Europe &amp; Central Asia</option>
	  <option value="EU">European Union</option>
	  <option value="F1">Fragile and conflict affected situations</option>
	  <option value="ZJ">Latin America &amp; Caribbean</option>
	  <option value="XE">Heavily indebted poor countries (HIPC)</option>
	  <option value="ZQ">Middle East &amp; North Africa</option>
	  <option value="XU">North America</option>
	  <option value="OE">OECD members</option>
	  <option value="S2">Pacific island small states</option>
	  <option value="8S">South Asia</option>
	  <option value="ZG">Sub-Saharan Africa</option>
	</select><br/>
	<span>Enter year (earliest is 1971, latest is 2019):</span>  
		<input type="number" id="year" name="year" min="1972" max="2019"><br>
   	<input type="submit" value="submit">
</form><br/>

<h1>SOAP Example: NASA Ground Stations</h1><br/>
<form method="POST" enctype="application/x-www-form-urlencoded" action="/nasa_api_call">
	<select id="groundstation" name="groundstation">
		<option value="ADF">Adelaide</option>
		<option value="ALE">Alert</option>
		<option value="AAA">Alma-Ata</option>
		<option value="ALT">Alta</option>
		<option value="AMD">Amderma</option>
		<option value="AMU">Anchorage</option>
		<option value="APL">Applied Physics Lab.</option>
		<option value="AVI">Arctic Village</option>
		<option value="ARO">Arecibo</option>
		<option value="AQF">Arequipa</option>
		<option value="ARK">Arkhangelsk</option>
		<option value="ASI">Ascension Island</option>
		<option value="ASH">Ashkhabad</option>
		<option value="BKC">Back</option>
		<option value="BLC">Baker Lake</option>
		<option value="BRW">Barrow</option>
		<option value="USI">Bear Lake</option>
		<option value="BOV">Boa Vista</option>
		<option value="BLD">Boulder</option>
		<option value="BOU">Boulder</option>
		<option value="CAC">Cachimbo</option>
		<option value="CAP">Cachoeira Paulista</option>
		<option value="CBB">Cambridge Bay</option>
		<option value="CAG">Campo Grande</option>
		<option value="CPY">Cape Parry</option>
		<option value="CPS">Cape Schmidt</option>
		<option value="CTO">Cape Town</option>
		<option value="CCF">Christchurch</option>
		<option value="CIA">Christmas Island</option>
		<option value="CLK">Clarkson University</option>
		<option value="CMO">College</option>
		<option value="COF">Collm</option>
		<option value="COW">Contwoyto Lake</option>
		<option value="DSO">Dark Sky Obs.</option>
		<option value="DWC">Dawson City</option>
		<option value="DIK">Dixon Island</option>
		<option value="DOU">Dourbes</option>
		<option value="DUM">Durham</option>
		<option value="KIR">ECAT-Kiruna</option>
		<option value="SOD">ECAT-Sodankyla</option>
		<option value="ESR">ECAT-Svalbard</option>
		<option value="TRO">ECAT-Tromso</option>
		<option value="ESK">Eskdalemuir</option>
		<option value="EKP">Eskimo Point</option>
		<option value="FRZ">Ferraz</option>
		<option value="FIT">Florida Tech.</option>
		<option value="FCC">Fort Churchill</option>
		<option value="FMM">Fort McMurray</option>
		<option value="FSP">Fort_Simpson</option>
		<option value="FSM">Fort_Smith</option>
		<option value="FYU">Fort_Yukon</option>
		<option value="FOR">Forteleza</option>
		<option value="CSL">Ft Collins</option>
		<option value="GIM">Gillam</option>
		<option value="GLL">Glenlea</option>
		<option value="GDH">Godhavn</option>
		<option value="GDN">Golden</option>
		<option value="GTF">Grafton Test Facility</option>
		<option value="GUA">Guam</option>
		<option value="GAK">HAARP/Gakona</option>
		<option value="HBA">Halley Bay</option>
		<option value="FHF">Hankasalmi</option>
		<option value="HRIS">Harris</option>
		<option value="HIS">Heiss Island</option>
		<option value="HON">Honolulu</option>
		<option value="HRN">Hornsund</option>
		<option value="HUA">Huancayo</option>
		<option value="HSF">Husafell</option>
		<option value="INK">Inuvik</option>
		<option value="IQA">Iqaluit</option>
		<option value="IRT">Irkutsk</option>
		<option value="IFJ">Isafjordur</option>
		<option value="ISL">Island Lake</option>
		<option value="IVA">Ivalo</option>
		<option value="IZV">Izvestia</option>
		<option value="JAX">Jacksonville Univ.</option>
		<option value="JRO">Jicamarca</option>
		<option value="KAK">Kakioka</option>
		<option value="KNG">Kaliningrad</option>
		<option value="KGD">Karaganda</option>
		<option value="KAU">Kautokeino</option>
		<option value="KEV">Kevo</option>
		<option value="KIV">Kiev</option>
		<option value="KIL">Kilpisjarvi</option>
		<option value="KIR">Kiruna</option>
		<option value="KODK">Kodiak</option>
		<option value="KGO">Korhogo</option>
		<option value="KOT">Kotelny</option>
		<option value="LREL">Laurel</option>
		<option value="LNN">Leningrad</option>
		<option value="LAL">Los Alamos</option>
		<option value="LYS">Lycksele</option>
		<option value="LYN">Lynn Lake</option>
		<option value="AMER">MaC_Americus</option>
		<option value="BENN">MaC_Bennington</option>
		<option value="GLYN">MaC_Glyndon</option>
		<option value="LYFD">MaC_Lyford</option>
		<option value="PCEL">MaC_Purcell</option>
		<option value="RICH">MaC_Richardson</option>
		<option value="SATX">MaC_SanAntonio</option>
		<option value="WRTH">MaC_Worthington</option>
		<option value="MGD">Magadan</option>
		<option value="MAF">Mawson</option>
		<option value="MCM">McMurdo</option>
		<option value="MEA">Meanook</option>
		<option value="MLH">Millstone Hill</option>
		<option value="MZH">Mizuho</option>
		<option value="MOS">Moscow</option>
		<option value="MBC">Mould Bay</option>
		<option value="MUO">Muonio</option>
		<option value="MMK">Murmansk</option>
		<option value="NAQ">Narssarssuaq</option>
		<option value="NEW">Newport</option>
		<option value="NIP">Nipawin</option>
		<option value="NOC">Nord</option>
		<option value="NOK">Norilsk</option>
		<option value="NOW">Norman Wells</option>
		<option value="NKK">Novokazalinsk</option>
		<option value="NVS">Novosibirsk</option>
		<option value="NUR">Nurmijarvi</option>
		<option value="LNC">Ny Alesund</option>
		<option value="ONW">Onagawa</option>
		<option value="OTT">Ottawa</option>
		<option value="OUL">Oulu</option>
		<option value="PFP">Peach Mountain</option>
		<option value="PEL">Pello</option>
		<option value="PNW">Pinawa</option>
		<option value="PLA">Platteville</option>
		<option value="POD">Podk. Tunguska</option>
		<option value="POS">Port Stanley</option>
		<option value="PBQ">Poste_Baleine</option>
		<option value="PBLO">Pueblo</option>
		<option value="EHF">Pykkvibaerehf</option>
		<option value="RBL">Rabbit Lake</option>
		<option value="RIT">Rankin_Inlet</option>
		<option value="RDL">Red Lake</option>
		<option value="RES">Resolute Bay</option>
		<option value="SAH">Sachs Harbor</option>
		<option value="SJG">San Juan</option>
		<option value="SAL">Sao Luis</option>
		<option value="SHF">Saskatoon</option>
		<option value="SBF">Scott Base</option>
		<option value="SLU">SE Louisiana Univ.</option>
		<option value="MUI">Shigaraki</option>
		<option value="SPL">Siple</option>
		<option value="SIT">Sitka</option>
		<option value="SOD">Sodankyla</option>
		<option value="STF">Sondrestrom</option>
		<option value="SKG">Sopoch. Karga</option>
		<option value="SOE">Soroya</option>
		<option value="SPA">South Pole</option>
		<option value="STJ">St. Johns</option>
		<option value="STFD">Stanford</option>
		<option value="STM">Stockholm</option>
		<option value="WHF">Stokkseyri</option>
		<option value="SVD">Sverdlovsk</option>
		<option value="SYO">Syowa</option>
		<option value="TLK">Talkeetna</option>
		<option value="TKT">Tashkent</option>
		<option value="TFS">Tbilisi</option>
		<option value="TEO">Teoloyucan</option>
		<option value="ATHA">THM_Athabasca</option>
		<option value="BMLS">THM_Bay Mills</option>
		<option value="BERK">THM_Berkeley</option>
		<option value="CCNV">THM_Carson City</option>
		<option value="CHBG">THM_Chibougamau</option>
		<option value="DRBY">THM_Derby</option>
		<option value="TPAS">THM_Flin Flon/The Pas</option>
		<option value="FSIM">THM_Fort Simpson</option>
		<option value="FSMI">THM_Fort Smith</option>
		<option value="FYTS">THM_Fort Yates</option>
		<option value="FYKN">THM_Fort Yukon</option>
		<option value="GILL">THM_Gillam</option>
		<option value="GBAY">THM_Goose Bay</option>
		<option value="GAKO">THM_HAARP/Gakona</option>
		<option value="HOTS">THM_Hot Springs</option>
		<option value="INUV">THM_Inuvik</option>
		<option value="KAPU">THM_Kapuskasing</option>
		<option value="KIAN">THM_Kiana</option>
		<option value="EKAT">THM_Lac de Gras/Ekati</option>
		<option value="LOYS">THM_Loysburg</option>
		<option value="MCGR">THM_Mcgrath</option>
		<option value="NAIN">THM_Nain</option>
		<option value="PTRS">THM_Petersburg</option>
		<option value="PINA">THM_Pinawa</option>
		<option value="PINE">THM_Pine Ridge</option>
		<option value="PGEO">THM_Prince George</option>
		<option value="RANK">THM_Rankin Inlet</option>
		<option value="RMUS">THM_Remus</option>
		<option value="SNKQ">THM_Sanikiluaq</option>
		<option value="SWNO">THM_Shawano</option>
		<option value="UKIA">THM_Ukiah</option>
		<option value="WHIT">THM_White Horse</option>
		<option value="TFP">Thule</option>
		<option value="THL">Thule/Qaanaaq</option>
		<option value="TIK">Tixie Bay</option>
		<option value="TJN">Tjornes</option>
		<option value="TMK">Tomsk</option>
		<option value="TRO">Tromso</option>
		<option value="TUC">Tucson</option>
		<option value="TUN">Tucuman</option>
		<option value="UDN">Uedinenie</option>
		<option value="USC">Univ. S. Carolina</option>
		<option value="UPP">Uppsala</option>
		<option value="UIL">Urbana</option>
		<option value="AFA">USAFA Colorado</option>
		<option value="FRD">USGS Fredericksburg</option>
		<option value="VIC">Victoria</option>
		<option value="VIZ">Vize</option>
		<option value="WLPS">Wallops</option>
		<option value="WFP">Watson Lake</option>
		<option value="WES">Weston</option>
		<option value="YAK">Yakutsk</option>
		<option value="YKC">Yellowknife</option>
	</select>
	<input type="submit" value="submit">	
</form>
