<h1>JOIN US</h1>
 
<p class="lead">Enter your information to join <strong><%= data %></strong> 
others on InstaBLAM. </p>
 
<form method="POST" action='/register'>
 <p>First Name:</p><input type="text" class="form" name="firstname" placeholder="Enter your first name">
 <p>Last Name:</p><input type="text" class="form" name="lastname" placeholder="Enter your last name">
 <p>Username:</p><input type="text" class="form" name="username" placeholder="Enter your desired username">
 <p>Password:</p><input type="text" class="form" name="password" placeholder="Enter your desired password">
 <p>Email:</p><input type="text" class="form" name="email" placeholder="Enter your email">
 <button>Join Now</button>
</form>
