<h1>Country Population</h1><br/>

<form method="GET" enctype="multipart/form-data" action="/country_pop_call">
	<span>Choose region:</span> 
	<select id="region" name="region">
	  <option value="A1">Arab World</option>
	  <option value="S3">Caribbean small states</option>
	  <option value="B8">Central Europe and the Baltics</option>
	  <option value="Z4">East Asia &amp; Pacific</option>
	  <option value="XC">Euro area</option>
	  <option value="Z7">Europe &amp; Central Asia</option>
	  <option value="EU">European Union</option>
	  <option value="F1">Fragile and conflict affected situations</option>
	  <option value="ZJ">Latin America &amp; Caribbean</option>
	  <option value="XE">Heavily indebted poor countries (HIPC)</option>
	  <option value="ZQ">Middle East &amp; North Africa</option>
	  <option value="XU">North America</option>
	  <option value="OE">OECD members</option>
	  <option value="S2">Pacific island small states</option>
	  <option value="8S">South Asia</option>
	  <option value="ZG">Sub-Saharan Africa</option>
	</select><br/>
	<span>Choose year (earliest is 1971, latest is 2020):</span>  
		<input type="text" id="year" name="year"><br>
   	<input type="submit" value="submit">
</form>
