<head>

</head>
<p id="mytext">
	alertalert
</p>
<input id="button1" type="button" value="Add to favorites">

<script>//document.addEventListener("load", Selscript);
		function Selscript() {
		  <%- data %>
		};
	Selscript();
</script>
